<div class="px-4 py-5 my-5 text-center" id="ameneties">
	<h1 class="display-5 fw-bold">{{ metadata.ameneties_header }}</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">{{ metadata.ameneties_body }}</p>
		<!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			<button type="button" class="btn btn-outline-dark btn-lg px-4"  data-bs-toggle="collapse" href="#collapseAmeneties" role="button" aria-expanded="false" aria-controls="collapseAmeneties">Click To See More</button>
		</div>
		<div class="collapse" id="collapseAmeneties">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">An item</li>
				<li class="list-group-item">A second item</li>
				<li class="list-group-item">A third item</li>
				<li class="list-group-item">A fourth item</li>
				<li class="list-group-item">And a fifth one</li>
			</ul>
		</div> -->
	</div>
</div>