{% extends "admin_base.html" %}

</style>
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Assign Slot: <a href="{% url 'adminhome:viewonebooking' current_booking.id %}">{{ current_booking }}</a> </h1>
</div>
<div class="container">
  <div class="row">
    <h4>Showing parking slots availability from {{ current_booking.start_time.date }} to {{ current_booking.end_time.date }}</h4>
    <h5>Parking category: {{ current_booking.pc_id }}</h5>
  </div>
  <div class="row">
    <div style="overflow-y:auto !important; height:70vh !important;">
      {% for i in pc %}
        <a href="{% url 'adminhome:showparkingspotschedule' i.0.id current_booking.start_time.date current_booking.end_time.date%}"><h6>{{ i.0 }}</h6></a>
        <div class="progress" style="height: 20px;">
          {% for v in i.1.1 %}
            {% if v.0 %}
              <div onclick="location.href='{% url 'adminhome:viewonebooking' v.2.id %}';" class="progress-bar bg-danger myBox" role="progressbar" style="width: {{ v.1 }}%; cursor: pointer;" aria-valuenow="{{ v.1 }}" aria-valuemin="0" aria-valuemax="100">{{ v.2 }}</div>
            {% else %}
              <div class="progress-bar bg-success" role="progressbar" style="width: {{ v.1 }}%"></div>
            {% endif %}
          {% endfor %}
        </div>
        <br>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}