{% extends "admin_base.html" %}

{% block content %}

<form method='POST'>{% csrf_token %}

    <div class="card text-center mx-auto mt-5" style="max-width: 50rem;">
        <div class="card-header">
        <h4>Confirm Delete</h4>
        </div>
    <div class="card-body">
        <h5 class="card-text">Are you sure you want to delete <b>"{{parkingcategory.name}}"</b> ?</h5>
        <p class="text-danger">Deleting Parking category will delete all linked <b>Parking spots!</b></p>
        <button type="submit" class="btn btn-danger shadow-2 mb-4"  value="Confirm">Confirm</button>
    </div>
    </div>

</form>
{% endblock content %}