{% extends "admin_base.html" %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        trigger : 'hover'
    });
});
</script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Schedule for Parking Slot: <a href="{% url 'adminhome:viewoneparkingspot' parking_spot.id %}">{{ parking_spot }}</a> </h1>
</div>
<div class="container">
    <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    <div class="m-2">
                        <label for="{{ field.auto_id }}" style="width:10%">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-outline-dark shadow-2 m-2" style="max-width: 10rem;"/>
            </form>
</div>
<div class="container">
    <div class="row">
        <h4>Showing schedule from {{ start_date }} to {{ end_date }}</h4>
    </div>
    <div class="row">
        <div style="overflow-y:auto !important;">
        {% for i in pc %}
            <div class="progress" style="height: 20px;">
            {% for v in i.1.1 %}
                {% if v.0 %}
                <div data-toggle="popover" title="{{ v.2 }}" data-bs-content="From {{ v.2.start_time.date }} to {{ v.2.end_time.date }}" onclick="location.href='{% url 'adminhome:viewonebooking' v.2.id %}';" class="progress-bar bg-danger myBox" role="progressbar" style="width: {{ v.1 }}%; cursor: pointer;" aria-valuenow="{{ v.1 }}" aria-valuemin="0" aria-valuemax="100">{{ v.2 }}</div>
                {% else %}
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ v.1 }}%"></div>
                {% endif %}
            {% endfor %}
            </div>
            <br>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <h4>List of Bookings:</h4>
        <ul>
            {% for v in pc.0.1.1 %}
                {% if v.0 %}
                    <li><a href='{% url 'adminhome:viewonebooking' v.2.id %}'>{{ v.2 }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}