<div class="accordion accordion-flush col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebarAccordion">
  	<div class="accordion-item">
    	<h2 class="accordion-header" id="flush-bookings">
      	<button class="accordion-button collapsed sidebar-heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBookings" aria-expanded="false" aria-controls="flush-collapseOne">
        	Bookings
      	</button>
    	</h2>
    	<div id="flush-collapseBookings" class="accordion-collapse collapse" aria-labelledby="flush-bookings" data-bs-parent="#sidebarAccordion">
      		<div class="accordion-body">
				<ul class="nav flex-column mb-2">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'adminhome:viewparkingspot' %}">
							Make a Booking
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'adminhome:createparkingspot' %}">
							View Previous Bookings
						</a>
					</li>
				</ul>
			</div>
    	</div>
  	</div>
	<div class="accordion-item">
    	<h2 class="accordion-header" id="flush-profile">
      	<button class="accordion-button collapsed sidebar-heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseProfile" aria-expanded="false" aria-controls="flush-collapseOne">
        	Profile
      	</button>
    	</h2>
    	<div id="flush-collapseProfile" class="accordion-collapse collapse" aria-labelledby="flush-profile" data-bs-parent="#sidebarAccordion">
      		<div class="accordion-body">
				<ul class="nav flex-column mb-2">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'adminhome:viewparkingspot' %}">
							Edit Profile
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'adminhome:createparkingspot' %}">
							Add Vehicle
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'adminhome:createparkingspot' %}">
							Edit Vehicles
						</a>
					</li>
				</ul>
			</div>
    	</div>
  	</div>
</div>