{% extends "admin_base.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Details for Parking Category {{ parkingcategory.name }}</h1>
</div>
	<div class="card mb-2">
		<div class="card-body">
			<h5 class="card-title d-flex justify-content-between align-items-center">
				{{ parkingcategory.name }}
				<div>
					<a href="{% url 'adminhome:updateparkingcategory' parkingcategory.id %}" class="btn btn-outline-dark me-2">
						Edit
					</a>
					<a href="{% url 'adminhome:index' %}" class="btn btn-outline-dark me-2">
						Delete
					</a>
				</div>
			</h5>
    		<h6 class="card-subtitle mb-2 text-muted">Active: {{ parkingcategory.is_active }}</h6>
		    <div class="card-text">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td style="font-weight: bold">Size</td>
                            <td>{{ parkingcategory.size }}</td>
						</tr>
                        <tr>
							<td style="font-weight: bold">Daily Rate</td>
                            <td>{{ parkingcategory.daily_rate }}</td>
						</tr>
                        <tr>
							<td style="font-weight: bold">Weekly Rate</td>
                            <td>{{ parkingcategory.weekly_rate }}</td>
						</tr>
                        <tr>
							<td style="font-weight: bold">Monthly Rate</td>
                            <td>{{ parkingcategory.monthly_rate }}</td>
						</tr>
                        <tr>
							<td style="font-weight: bold">Utility Conversion Rate</td>
                            <td>{{ parkingcategory.utility_conversion_rate }}</td>
						</tr>
                        <tr>
							<td style="font-weight: bold">Cancellation Penalty</td>
                            <td>{{ parkingcategory.cancellation_penalty }}</td>
						</tr>
                        <tr>
							<td style="font-weight: bold">Cancellation Time Window</td>
                            <td>{{ parkingcategory.cancellation_time_window }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


{% endblock content %}