{% extends user.is_staff|yesno:"admin_base.html,user_base.html" %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% if booking.state == 'canceled' %}<strong class="alert-danger">[CANCELED]</strong>{% endif %}Details for Booking {{ booking.id }}</h1>
    </div>

    {% if booking.state == 'pending_lease' %}
        <div class="alert alert-warning">
            <strong>Your lease has been generated. Please sign your lease.</strong>
        </div>
    {% endif %}
    {% if booking.state == 'pending_approval' %}
        <div class="alert alert-warning">
            <strong>Waiting for the admin to approve your documents and assign a parking slot.</strong>
        </div>
    {% endif %}
    {% if booking.state == 'pending_slot' %}
        <div class="alert alert-warning">
            <strong>Waiting for the admin to assign a parking slot.</strong>
        </div>
    {% endif %}
    
    {% if unpaid_amount != 0 %}
        <div class="alert alert-danger">
            <strong>This booking has an unpaid amount of ${{ unpaid_amount }}</strong>
        </div>
    {% endif %}

    <div class="card mb-2">
        <div class="card-body">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser or request.user.is_staff %}
                    {% if booking.state != 'canceled' %}
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            <div>
                                {% if isPreviousBooking == False and isCurrentBooking == False %}
                                    <a href="{% url 'adminhome:editbooking' booking.id %}" class="btn btn-outline-dark m-2">
                                        Edit
                                    </a>

                                    <a href="{% url 'adminhome:deletebooking' booking.id %}" class="btn btn-outline-dark m-2">
                                        Delete
                                    </a>

                                    <a href="{% url 'adminhome:assignoneslot' booking.id %}" class="btn btn-outline-dark m-2">
                                        {% if booking.parking_spot_id %}
                                            Change Parking Spot
                                        {% else %}
                                            Assign Parking Spot
                                        {% endif %}
                                    </a>

                                    {% if booking.state != 'canceled' %}
                                        <a href="{% url 'adminhome:confirmcancelbooking' booking.id %}" class="btn btn-outline-dark m-2">
                                            Cancel Booking
                                        </a>
                                    {% endif %}

                                {% endif %}

                                {% if booking.parking_spot_id %}
                                    <a href="{% url 'adminhome:addbill' booking.id %}?pc={{booking.pc_id_id}}" class="btn btn-outline-dark m-2">
                                        Add Bill
                                    </a>
                                {% endif %}
                                
                            </div>
                        </h5>
                    {% endif %}
                {% endif %}
            {% endif %}
            <h6 class="card-subtitle mb-2 text-muted">
                Parking Spot Assigned: {{ booking.parking_spot_id }}<br>
                Parking Category Assigned: {{ booking.pc_id }}
                <!-- TODO: Need to add link to Bill ID here. -->
            </h6>
            <div class="card-text">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td style="font-weight: bold">Start Time</td>
                        <td>{{ booking.start_time }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">End Time</td>
                        <td>{{ booking.end_time }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">State</td>
                        <td>{{ booking.state }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Vehicle ID</td>
                        <td>{{ booking.vehicle_id }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Has user signed the Lease?</td>
                        <td>{{ booking.lease_is_signed_by_user }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Lease Document URL</td>
                        <td>{{ booking.lease_doc_url }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Admin Comments</td>
                        <td>{{ booking.admin_comments }}</td>
                    </tr>
                    </tbody>
                </table>
                {%if booking.lease_doc_url != ""%}
                    <a href="{% url 'adminhome:viewlease' booking.id %}" class="btn btn-outline-dark shadow-2 mb-4" style=""\>
                    View Lease</a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 class="h2">Bills</h2>
            </div>
            {% for bill in bills %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            {% if bill.unpaid_amount < 0 %}[REFUND]{% endif %} ID: {{ bill.id }}
                            <div>
                                <a href="{% url 'adminhome:viewonebill' booking.id bill.id %}" class="btn btn-outline-dark me-2">
                                    View payment details!
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
                                    </svg>
                                </a>
                            </div>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                           <button type="button" class="btn btn-outline-dark"  data-bs-toggle="collapse" href="#collapseDetails{{ bill.id }}" role="button" aria-expanded="false" aria-controls="collapseAmeneties">Click To View More Details</button>
                        </h6>
                        <div class="card-text collapse" id="collapseDetails{{ bill.id }}">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold">Date</td>
                                        <td>{{ bill.bill_date}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Reservation Cost</td>
                                        <td>{{ bill.reservation_cost }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Initial Meter Reading</td>
                                        <td>{{ bill.init_meter_reading }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">End Meter Reading</td>
                                        <td>{{ bill.end_meter_reading }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Utility Rate</td>
                                        <td>{{ bill.meter_rate }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Utility Cost</td>
                                        <td>{{ bill.utility_cost }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Miscellaneous Charges</td>
                                        <td>{{ bill.misc_charges }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Paid Amount</td>
                                        <td>{{ bill.paid_amount }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Unpaid Amount</td>
                                        <td>{{ bill.unpaid_amount }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Comments</td>
                                        <td>{{ bill.comments }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
