{% extends "admin_base.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
   <h1 class="h2">Details for Booking {{ booking.id }}</h1>
</div>

<div class="card mb-2">
   <div class="card-body">
      <h5 class="card-title d-flex justify-content-between align-items-center">
         <div>
            <a href="{% url 'adminhome:updateupcomingbooking' booking.id %}" class="btn btn-outline-dark m-2">
               Edit
            </a>
         </div>
      </h5>

      <h6 class="card-subtitle mb-2 text-muted">
         Parking Spot: {{ booking.parking_spot_id }}
         <a href="{% url 'adminhome:viewoneparkingspot' booking.parking_spot_id %}" class="btn btn-outline-dark m-2">
            View Parking Spot {{ booking.parking_spot_id }}
         </a>
         <!-- TODO: Need to add link to Bill ID here. -->
      </h6>
      <div class="card-text">
         <table class="table table-striped">
            <tbody>
               <tr>
                  <td style="front-weight: bold">Start Time</td>
                  <td>{{ booking.start_time }}</td>
               </tr>
               <tr>
                  <td style="font-weight: bold">End Time</td>
                  <td>{{ booking.end_time }}</td>
               </tr>
               <tr>
                  <td style="font-weight: bold">State</td>
                  <td>{{ booking.state }}</td>
               </tr>
               <tr>
                  <td style="font-weight: bold">Vehicle ID</td>
                  <td>{{ booking.vehicle_id }}</td>
               </tr>
               <tr>
                  <td style="font-weight: bold">Has user signed the Lease?</td>
                  <td>{{ booking.lease_is_signed_by_user }}</td>
               </tr>
               <tr>
                  <td style="font-weight: bold">Lease Document URL</td>
                  <td>{{ booking.lease_doc_url }}</td>
               </tr>
               <tr>
                  <td style="font-weight: bold">Bill ID</td>
                  <td>{{ booking.bill_detail_id }}</td>
               </tr>
               <tr>
                  <td style="font-weight: bold">Admin Comments</td>
                  <td>{{ booking.admin_comments }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

{% endblock content %}