{% extends "admin_base.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Details for Parking Spot {{ parkingspot.name }}</h1>
</div>
	<div class="card mb-2">
		<div class="card-body">
			<h5 class="card-title d-flex justify-content-between align-items-center">
				{{ parkingspot.name }}
				<div>
                    <a href="{% url 'adminhome:index' %}" class="btn btn-outline-dark m-2">
						Edit
					</a>
					<a href="{% url 'adminhome:index' %}" class="btn btn-outline-dark m-2">
						Delete
					</a>
				</div>
			</h5>
    		<h6 class="card-subtitle mb-2 text-muted">
				Category: {{ parkingspot.parking_category_id }}
				<a href="{% url 'adminhome:viewoneparkingcategory' parkingspot.parking_category_id.id %}" class="btn btn-outline-dark m-2">
					View Parking Category {{ parkingspot.parking_category_id }}
				</a>
			</h6>
			<h6 class="card-subtitle mb-2 text-muted">Active: {{ parkingspot.is_active }}</h6>
		    <div class="card-text">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td style="font-weight: bold">Name</td>
                            <td>{{ parkingspot.name }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock content %}